﻿@using Microsoft.AspNetCore.Authorization
@using RoleBasedAccessControl.Models
@model RoleBasedAccessControl.Models.User
@inject IAuthorizationService AuthorizationService
@{
    Layout = "_Layout";
    ViewBag.Title = "Edit User";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Role</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CharacterId)
        @Html.HiddenFor(model => model.CharacterOwnerHash)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CreatedAt)
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(model => model.CharacterName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CharacterName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CharacterName, "", new { @class = "text-danger" })
                </div>
            </div>

            @* <div class="form-group"> *@
            @*     @Html.LabelFor(model => model., htmlAttributes: new { @class = "control-label col-md-2" }) *@
            @*     <div class="col-md-4"> *@
            @*         @Html.EditorFor(model => model.RoleDescription, new { htmlAttributes = new { @class = "form-control" } }) *@
            @*         @Html.ValidationMessageFor(model => model.RoleDescription, "", new { @class = "text-danger" }) *@
            @*     </div> *@
            @* </div> *@

            <div class="form-group">
                @Html.LabelFor(model => model.LockoutEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.LockoutEnabled)
                        @Html.ValidationMessageFor(model => model.LockoutEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}

<h4>Roles Associated with this User</h4>
@{
    if ((await AuthorizationService.AuthorizeAsync(User, new RequiredRole() { Role = "Admin" }, "DynamicMenu")).Succeeded)
    {
        if (Model.RoleUser == null)
        {
            <h4><font color="red">No Associated Roles...</font></h4>
            <br/>
        }
        else
        {
            <table id="RoleTable" style="width: 65%">
                <thead>
                <th style="width: 90%">
                    Roles
                </th>
                <th>
                    Action
                </th>
                </thead>
                @foreach (var role in Model.RoleUser.OrderBy(n => n.Role.Name))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(role.Role.Name, "Details", "Roles", new {id = role.RoleId})
                        </td>
                        <td>
                            <center>
                                <a class="text-danger" href="@Url.Action("DeleteUserFromRole", "Roles", new {id = Model.UserId, roleId = role.RoleId})" class="deletePermission" id=@Model.UserId permissionid=@role.RoleId>
                                    Remove
                                </a>
                            </center>
                        </td>
                    </tr>
                }
            </table>
            <br/>
        }
        <div>@await Component.InvokeAsync("AddRoleToUser", new {id = Model.UserId})</div>
        <br />
    }
    else
    {
        <h4 class="text-danger">You do not have the permissions to edit user roles.</h4>
    }
}


<div>
    @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Go to Roles", "Index", "Roles")
</div>
