@model RoleBasedAccessControl.Models.Role

@{
    if (Model.PermissionRole == null)
    {
        <h4><font color="red">No Associated Permissions...</font></h4>
        <br/>
    }
    else
    {
        <table id="PermissionTable" style="width: 65%">
            <thead>
            <th style="width: 90%">
                Permission
            </th>
            <th>
                Action
            </th>
            </thead>
            @foreach (var permission in Model.PermissionRole.OrderBy(n => n.Permission.PermissionDescription))
            {
                <tr>
                    <td>
                        @Html.ActionLink(permission.Permission.PermissionDescription, "Details", "Permissions", new {id = permission.PermissionId})
                    </td>
                    <td>
                        <center>
                            <a class="text-danger" href="@Url.Action("DeletePermissionFromRole", "Permissions", new {roleId = Model.RoleId, permissionId = permission.PermissionId})" class="deletePermission" id=@Model.RoleId permissionid=@permission.PermissionId>
                                Remove
                            </a>
                        </center>
                    </td>
                </tr>
            }
        </table>
        <br/>
    }
}