﻿@model RoleBasedAccessControl.Models.Role
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Create Role";
}

<form asp-area="Admin" asp-controller="Roles" asp-action="Create" method="post">
    <div class="form-horizontal">
        <h4>Create Role</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" asp-for="Name"></label>
            <div class="col-md-4">
                <input class="form-control" asp-for="Name"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" asp-for="RoleDescription"></label>
            <div class="col-md-4">
                <input class="form-control" asp-for="RoleDescription"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" asp-for="DiscordRoles"></label>
            <div class="col-md-4">
                <select class="form-control" asp-for="DiscordRole" asp-items="Model.DiscordRoles"></select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2" asp-for="IsSysAdmin"></label>
            <div class="col-md-1">
                <input class="form-control" asp-for="IsSysAdmin"/>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>