﻿@model RoleBasedAccessControl.Models.Role
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Edit Role";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Role</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RoleId)
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.RoleDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RoleDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-2" asp-for="DiscordRoles"></label>
                <div class="col-md-4">
                    <select class="form-control" asp-for="DiscordRole" asp-items="Model.DiscordRoles"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsSysAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsSysAdmin)
                        @Html.ValidationMessageFor(model => model.IsSysAdmin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}

    <h4>Permissions Associated with this Role</h4>
    <div>@await Component.InvokeAsync("ListPermissions", new {id = Model.RoleId})</div>
    <div>@await Component.InvokeAsync("AddPermissionsToRole", new {id = Model.RoleId})</div>
    <br />

<div>
    @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Go to Permissions", "Index", "Permissions")
</div>
