@using Microsoft.EntityFrameworkCore.Internal
@model RoleBasedAccessControl.Models.PermissionViewModel

<h3>Add Permissions to Role</h3>
@{
    if (Model == null)
    {
        <h4><font color="red">No Permissions...</font></h4>
        <br/>
    }
    if (Model != null && !Model.Permissions.Any())
    {
        <h4>All permissions have been added.</h4>
        <br/>
    }
    else
    {
        <form asp-controller="Permissions" asp-action="AddPermissionToRole" method="post">
            
            <input type="hidden" value="@Model.RoleId" name="RoleId"/>
            <div class="col-md-4">
            <select class="form-control" asp-for="Permission" asp-items="Model.Permissions"></select>
            </div>
            <br/><br/>
            <button class="btn btn-sm btn-success" type="submit">Add to Role</button>
            <a asp-controller="Permissions" asp-action="AddAllPermissionsToRole" asp-route-roleId="@Model.RoleId" class="btn btn-sm btn-danger">
                Add All Permissions
            </a>
        </form>
        <br/>
    }
}