@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Discord Invite";
    Layout = "_Layout";
}

<h2>Discord Invite</h2>
<br/>
<br/>
<br/>
<a asp-area="Discord" asp-controller="Invite" asp-action="GuildInvite">Join Our Discord</a>